<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opennlg.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.opennlg.pojo.Article">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_summary" property="articleSummary" />
        <result column="article_content" property="articleContent" />
        <result column="article_read_times" property="articleReadTimes" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, article_title,article_summary, article_content, article_read_times, create_time, update_time
    </sql>
    <select id="selectListByPage" resultMap="BaseResultMap">
        select
            id, article_id, article_title, article_summary,article_read_times, create_time, update_time
        from og_article
        order by create_time desc
    </select>
</mapper>
