<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opennlg.mapper.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.opennlg.pojo.News">
        <id column="news_id" property="newsId" />
        <result column="news_title" property="newsTitle" />
        <result column="news_summary" property="newsSummary" />
        <result column="news_read_times" property="newsReadTimes" />
        <result column="outside_url" property="outsideUrl" />
        <result column="inside_url" property="insideUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_new" property="isNew" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        news_id, news_title, news_summary, news_read_times, outside_url, inside_url, create_time, update_time,is_new
    </sql>
    <select id="selectListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from og_news
        order by is_new desc,create_time desc
    </select>
</mapper>
