.fjfx-image{
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
.image-warp{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    img{
        width: 100%;
    }
}
.rjfx-desc{
    font-family: 'Roboto', sans-serif;
}
.content-box{
    font-size: 24px;
    line-height: 45px;
    font-weight: 400;
    color: #848484;
    padding-bottom: 10px;
}
.rtl{
    display: flex;
    flex-direction: row-reverse; /* 水平方向从右到左排序 */
}